<% if @articles.any? %>
  <% @articles.each do |article| %>
    <li>
    <%= link_to "#{article.title}", article_path(article) %> Average Rating: <%= star_rating(article.average_rating) %>
    <%= link_to "Edit", edit_article_path(article) %>
    <%= link_to "Delete", article_path(article), method: :delete %>
    <%= link_to "Comment", new_article_comment_path(article.id) %> (<%= article.comments.count %>)
    <ul>
    <% article.comments.each do |comment| %>
      <li><%= comment.thoughts %> (<%= comment.rating %>)</li>
    <% end %>
    </ul>
  <% end %>
  </li>
<% else %>
  no articles yet
<% end %>

<%= link_to "Add an article", new_article_path %>